<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies for adoption</title>
  </head>
  <body>

    <form  action="/new" method="post">
      <legend>Name:</legend>
      <input type="text" name="name">
      <legend>Breed:</legend>
      <input type="text" name="breed">
      <legend>Age:</legend>
      <input type="text" name="age">
      <input type="submit" value="submit">
    </form>

  </body>
</html>
