<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Puppy Name: <%=@name%> <br>
    Puppy Breed: <%=@breed %> <br>
    Puppy Age: <%=@age %>

  </body>
</html>
